<section>
  <div class="flex items-center justify-between flex-col my-[50px] p-4">
    <!-- Profile Photo -->
    <mat-card
      class="dark:bg-gray-900 bg-slate-50 rounded-3xl w-auto mx-4 md:w-[400px]"
      appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="text-primary font-bold"
          >Descomplicando a prática
          </mat-card-title
          >
          <mat-card-subtitle class="text-secondary font-semibold"
          >Canal no Youtube
          </mat-card-subtitle
          >
          <img
            class="rounded-full w-[120px] h-[120px]"
            alt="Lucas Peixoto"
            src="https://github.com/rafaeljaber.png" />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{ description }}
      </mat-card-content>
    </mat-card>
  </div>
  <button type="button" (click)="toggleTheme()">Toggle</button>
</section>
